/* Reset and Setting-Up*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   line-height: 1.7rem
}

.clr {
  clear: both;
}

/* Navbar */
.navbar {
   background-color: #333;
   color: #fff;
   width: 100%;
   overflow: auto;
   margin: auto;
}

#logo {
   color: white;
   text-decoration: none;
}

.navbar h1 {
   float: left;
   padding: 20px;
}

.navbar ul {
   float: right;
   list-style: none;
   padding-right: 20;
}

.navbar ul li {
   float: left;
}

.navbar ul li a {
   text-align: center;
   padding: 20px;
   text-decoration: none;
   color: #fff;
   display: block;
}

.navbar ul li a:hover,
.navbar ul li .active {
   background: #444;
   color: #f7c08a;
}

/* Showcase */
.showcase {
   background: url('../img/showcase.jpg') no-repeat center center/cover;
   height: 600px;
}

.showcase-content {
   text-align: center;
}

.showcase .showcase-content h1 {
   text-align: center;
   padding-top: 170px;
   font-size: 60px;
   color: #fff;
}

.highlight {
   color: #f7c08a;
}

.showcase .showcase-content p {
   text-align: center;
   padding: 20px 40px;
   font-size: 1.5rem;
   /* font-weight: 600; */
   color: #fff;
   line-height: 1.7;
}

.btn {
   border: none;
   background: #333;
   color: #fff;
   font-size: 18px;
   padding: 13px 20px;
   display: inline-block;
   text-decoration: none;
}

.btn:hover {
   color: #fff;
   background-color: #f7c08a;
   cursor: pointer;
}

/* Main Content */

.main {
   height: 400px;
}

.main-image {
   float: left;
   width: 50%;
   background: url('../img/photo-1.jpg') no-repeat;
   min-height: 100%;
}

.main-history {
   float: right;
   width: 50%;
   background-color: #444;
   text-align: center;
   height: 100%
}

.main-history h2 {
   padding-top: 50px;
}

.main-history p {
   padding: 30px;
}

.main-history .btn {
   background-color: #fff;
   color: #000;
}

.btn:hover {
   color: #000;
   background-color: #f7c08a;
}


/* Features */

.features {
   min-height: 300px;
}

.features h3 {
   padding-top: 10px;
}

.features p {
   padding: 10px 20px;
}

.features .features-light {
   height: 100%;
   text-align: center;
   width: 33.3%;
   float: left;
   padding: 60px;
}

.features .features-dark {
   height: 100%;
   text-align: center;
   width: 33.3%;
   float: left;
   background-color: #f7c08a;
   padding: 60px;
}

/* Footer */

.footer-box {
   width: 100%;
   min-height: 50px;
   background-color: #444;
   text-align: center;
   color: #fff;
   padding-top: 10px;
}

/* About Page */

.about  {
   height: 400px;
}

.about .about-info {
   float: left;
   width: 50%;
   text-align: left;
}

.about .about-info h1 {
   padding: 40px 40px;
   font-size: 40px;
}

.about .about-info p {
   padding: 0px 40px;
   line-height: 2;
}

.about-image-box {
   height: 100%;
   width: 50%;
   float: right;
   padding-top: 30px;
}

.about-image {
   background: url('../img/photo-2.jpg') no-repeat center /cover;
   height: 80%;
   width: 80%;
   /* text-align: right; */
   border-radius: 50%;
}

/* Testimonials */

.testimonials-box {
   background: url('../img/test-bg.jpg') no-repeat center center/cover;
   min-height: 600px;
   margin-bottom: -20px;
}

.testimonials-box h2 {
   text-align: center;
   color: #fff;
   font-size: 40px;
   padding-top: 70px;
   padding-bottom: 40px;
   margin-bottom: 60px;
}

.testimonials-box .testimonial {
   background-color: #f7c08a;
   border-radius: 5px;
   margin: 20px 10px;
   height: 150px;
}

.testimonials-box .testimonial p {
   padding: 30px;
   float: right;
   width: 80%;
   line-height: 2rem;
}

.testimonials-box .testimonial .person-1 {
   background: url('../img/person-1.jpg') no-repeat center center/cover;
   float: left;
   width: 17%;
   border-radius: 50%;
   height: 90%;
   margin: 10px 0px 0px 10px;
}

.testimonials-box .testimonial .person-2 {
   background: url('../img/person-2.jpg') no-repeat center center/cover;
   float: left;
   width: 17%;
   border-radius: 50%;
   height: 90%;
   margin: 10px 0px 0px 10px;
}

/* Contact Form */

.contact-form {
   min-height:500px;
   width: 800px;
   margin: auto;
   padding-left: 20px;
}

.contact-form h1 {
   font-size: 40px;
   padding: 20px 20px 0px 0px;
}

.contact-form p {
   padding: 20px 20px 20px 0px;
}

.contact-form label {
   display: block;
   margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 10px;
  border: 1px #ddd solid;
}

.contact-form textarea {
   min-height: 200px;
}

.contact-form button {
   margin: 20px 0px;
}

/* Contact Details */

.contact-details {
   background-color: #333;
   min-height: 250px;
}

.contact-details .detail {
   float: left;
   width: 33.3%;
   height: 100%;
   text-align: center;
   padding: 40px 0px;
   color: #fff;
}

.contact-details .detail h3 {
   margin: 10px 0px;
}
