/* Reset and Prepare */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-color: #c72727;
   --secondary-color: #f99500;
   --light-color: #f3f3f3;
   --dark-color: #333;
   --max-width: 1100px;
   --sport-color: #f99500;
   --ent-color: #a66bbe;
   --tech-color: #009cff;
}

body {
   background-color: var(--light-color) line-height: 1.5;
}

/* Utilities */
a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.container {
   max-width: var(--max-width);
   overflow: hidden;
   margin: auto;
   padding: 0 2rem;
   font-family: sans-serif;
   line-height: 1.4;
   /* background-color: red; */
}

.category {
   color: #fff;
   text-transform: uppercase;
   display: inline-block;
   font-size: 0.55rem;
   padding: 0.4rem 0.6rem;
   border-radius: 15px;
   margin-bottom: 0.5rem;
}

.category-sport {
   background-color: var(--sport-color);
}

.category-ent {
   background-color: var(--ent-color);
}

.category-tech {
   background-color: var(--tech-color);
}

.bg-dark {
   color: #fff;
   background-color: var(--dark-color) !important;
}

.bg-primary {
   color: #fff;
   background-color: var(--primary-color) !important;
}

h1, h2, h3 {
   margin-bottom: 5px;
}

img {
   width: 100%;
}

.btn {
   color: #fff;
   background-color: var(--primary-color);
   padding: 10px 20px;
   margin: 20px 0px;
   display: inline-block;
}

.btn:hover {
   opacity: 0.8;
}

.btn-dark {
  /* display: block; */
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--dark-color);
  height: 40px;
}

/* Header */

nav {
   background-color: white;
   position: sticky !important;
   top: 0;
   height: 74px;
z-index: 4;
}

nav .container {
   display: grid;
   grid-template-columns: 6fr 3fr 2fr;
   align-items: center;
   padding: 1rem;

}

nav img {
   width: 180px;
}

nav ul {
   display: flex;
   justify-content: flex-end;

}

nav ul li {
   font-weight: bold;
}

nav ul li a {
   color: var(--dark-color);
   padding: 0.75rem;
}

nav ul li a.current {
   color: var(--light-color);
   background-color: var(--primary-color)
}

nav ul li a:hover {
   color: var(--dark-color);
   background-color: var(--light-color)
}

nav .social-icons i {
   color: grey;
   padding: 5px;
}

/* Showcase */
.showcase {
   position: relative;
   padding: 10px;
   height: 60vh;
   color: #fff;
   background-color: #333;
   /* background-color: red; */
}

.showcase .container .grid-container-showcase {
   display: grid;
   height: 100%;
   /* background-color: red; */
}

.showcase::before {
   content: '';
   background: url('../img/featured.jpg') no-repeat center center /cover;
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0.4;
   top: 0px;
   left: 0px;
}

.showcase .container .grid-container-showcase .showcase-content {
   width: 50%;
   height: 100%;
   margin: 80px 20px;
   z-index: 3;
   font-weight: bold;
   /* background-color: red; */
}

.showcase .container .grid-container-showcase .showcase-content p {
   line-height: 1.7rem;
}

.showcase .container .grid-container-showcase .showcase-content h3 {
   text-transform: uppercase;
   font-weight: bold;
}

/* Main News */
.main-news {
   background-color: var(--light-color);
   padding-bottom: 20px;
}

.main-news h2 {
   margin-top: 30px;
}

.main-news .grid-container-news {
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1rem;
}

.main-news .grid-container-news .card {
   background-color: #fff;
   padding: 10px;
}

.main-news .grid-container-news>div:first-child,
.main-news .grid-container-news>div:last-child {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column: 1/ span 2;
   align-items: center;
   grid-gap: 1rem;
}

.main-news .grid-container-news>div:last-child {
   grid-column: 2/ span 2;
}

.main-news .grid-container-news>div:nth-child(4) {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
}

.main-news .grid-container-news>div:nth-child(4) div {
   grid-row: 1;
}
.main-news .grid-container-news>div:last-child div {
   grid-row: 1;
}


/* About */

.about {
   background-color: var(--light-color);
}

.about .container {
   display: grid;
   grid-template-columns: 5fr 2fr;
   grid-gap: 1rem;
}

.about .about-about {
   padding: 20px;
   font-size: 1.1rem;
   line-height: 1.8;
   background-color: white;
   margin: 30px 10px;
   grid-row: 1 / span 3;
}

.about h1, h3 {
   text-transform: uppercase;
   font-weight: bold;
}

.about .about-sidebar {
   margin-top: 30px;
   padding: 20px;
}

.about .about-sidebar a {
   /* display: inline-block; */
   /* height: auto; */
}


/* Footer */

footer {
   /* margin-top: 20px; */
}

footer .container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1rem;
}

footer .container .footer-item {
   margin-top: 20px;
   padding: 15px;
}

footer .footer-item:last-child {
   grid-column: 1 / span 4;
   text-align: center;
   margin-top: 0;
}

footer img {
   /* padding: 0px 10px; */
   margin-top: -10px;
}

footer .footer-item h3 {
   margin-bottom: 10px;
   text-transform: uppercase;
   font-size: 0.9rem;
}

footer .footer-item input {
   height: 30px;
   width: 100%;
   margin-top: 20px;
   padding-left: 5px;
}

footer .footer-item button {
   border: none;
   width: 100%;
   height: 40px;
   margin-top: 5px;
}

footer .footer-item li {
   border-bottom: grey dotted 1px;
   width: 90%;
   padding: 0.5rem;
}
